{% if cookicutter.use_celery == 'y' %}
# RabbitMQ
RABBITMQ_USER=user
RABBITMQ_PASS=password

# Celery
CELERY_BROKER_URL=amqp://user:password@rabbitmq:5672//
CELERY_BACKEND_URL=redis://redis:6379/0
{% endif %}